[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
# user=mysql

# Settings needed for group replication
log-bin
binlog-format=ROW
server-id=10
gtid-mode=on
enforce-gtid-consistency
log-slave-updates
master-info-repository=TABLE
relay-log-info-repository=TABLE
transaction-write-set-extraction=MURMUR32
binlog-checksum=NONE
plugin-load=group_replication.so
